# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jekyll build directory
docs/_site/
docs/.jekyll-cache/
docs/.jekyll-metadata

# Node modules (if any)
node_modules/

# Editor directories and files
.idea/
.vscode/*
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
